<div class="section-title">
    <h2>About</h2>
</div>
<div class="section-content">
    <div class="skill-list">
        <h4>기술 스택</h4>
        <p>Language/Framework: Java/Spring</p>
        <p>Third Party: Google Search, Naver Search, ChatGPT</p>
        <p>Build: Gradle</p>
    </div>
    <div class="skill-version">
        <h4>기술 버전</h4>
        <p>Java 17</p>
        <p>Spring Boot 3.2.4</p>
        <p>Gradle 8.5</p>
    </div>
</div>
