<div class="section-title">
    <h2>LABS</h2>
</div>
<div class="section-content">
    <div class="section-md-editor">
        <a href="javascript:void(0);" class="" onclick="renderingPage('/nakji/page/lnb-labs-labs_MD_Editor', Marked);">
            <span>MD-Editor</span></a>
    </div>
    <div class="section-openai-gpt">
        <a href="javascript:void(0);" class="" onclick="renderingPage('/nakji/page/lnb-labs-labs_openai_gpt', '');">
            <span>GPT</span></a>
    </div>
</div>