{{>nakji/header}}

{{>nakji/lnb}}

<main id="main" class="container">
    <section id="page">{{>nakji/lnb/labs/labs_intro}}</section>
    <section id="search" class="search">
        <div id="searchResult" class="section-title"></div>
    </section>
</main>

{{>nakji/footer}}