<section>
    <h2>ChatGPT API</h2>
    <div class="module-section">
        <label for="openai-prompt">프롬프트:</label>
        <input id="openai-prompt" placeholder="프롬프트를 입력해주세요">
        <button id="openai-button" type="button" data-module-url="/labs/openai/call">호출</button>
        <div id="openai-spinner" class="spinner" style="display: none;"></div>
    </div>
    <div class="response-section">
        <span>응답 결과, </span>
        <span>처리 시간: </span>
        <span class="response-time">0s</span>
        <pre></pre>
    </div>
</section>