<link href="/nakji/css/lnb/labs.css" rel="stylesheet">

<button id="btn-convert" class="convert-button" type="button">Convert</button>
<div class="marked-content">
    <div class="editor-area">
        <textarea id="edit-text" rows="25" aria-label="Markdown editor"></textarea>
    </div>
    <div id="preview-area" class="preview-area">
        <p class="preview-area-label"></p>
    </div>
</div>