/*
******************
***** Marked *****
******************
*/

/* 기본 레이아웃 및 스타일 */
.marked-content {
    display: flex;
    flex-direction: row;
    max-width: 1400px; /* 최대 너비 설정 */
    margin: auto; /* 중앙 정렬 */
    gap: 20px; /* 영역 사이 간격 */
}

.editor-area, .preview-area {
    flex: 1;
    border: 1px solid #ccc; /* 경계선 추가 */
    overflow: auto; /* 내용이 많을 경우 스크롤 */
}

/* 텍스트 영역 스타일 */
#edit-text {
    width: 100%;
    font-family: monospace; /* 폰트 스타일 */
}

/* 미리보기 영역 스타일 */
#preview-area {
    background-color: #f9f9f9; /* 배경색 */
}

/* 버튼 스타일 */
#btn-convert {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* 버튼과 텍스트 영역 사이의 마진 */
}

#btn-convert:hover {
    background-color: #0056b3;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .marked-content {
        flex-direction: column;
    }
}



/*
******************
***** OpenAI *****
******************
*/
.call-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}
.call-button:hover {
    background-color: #45a049;
}
.gpt-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}
.prompt-area, .response-area {
    margin-bottom: 20px;
}
.gpt-content h3 {
    margin-top: 0;
    color: #333;
}
input#prompt-text {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.response-header {
    display: flex;
    align-items: center;
    gap: 10px;
}
.response-time {
    background-color: #e7f3ec;
    color: #4CAF50;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 14px;
}
#response-area {
    background-color: #f8f8f8;
    border-left: 5px solid #4CAF50;
    padding: 10px;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto; /* 스크롤 가능하게 설정 */
}
.response-area-content {
    margin: 0;
}
@media (max-width: 600px) {
    .call-button {
        padding: 10px 15px;
        font-size: 14px;
    }
    .gpt-content {
        padding: 10px;
    }
    input#prompt-text {
        padding: 6px;
    }
}
/* 콜백 함수 로딩중 처리 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.button-disabled {
    background-color: #ccc;
    color: #666;
    cursor: wait;
}
.btn-loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}