{{>partials/header}}
<div id="about-page">
    <h1>About</h1>
    <h2>개요</h2>
    <ul>
        <li>여러 기능을 짬뽕한 사이트를 만들고자 함</li>
        <li>디자인은 최소화하고 백 서버에서 API 호출하여 서비스</li>
    </ul>
    <h2>기능</h2>
    <ul>
        <li><strong>Home</strong>: 메인 페이지, 현재는 깃허브 블로그의 최신 목록을 가져옴</li>
        <li><strong>Labs</strong>: GPT 호출, 마크다운 변환 등 여러 기능들을 다뤄볼 핵심 페이지</li>
        <li><strong>Trend</strong>: 구글 트렌드 인기검색어 등 사람들의 관심 키워드를 수집해서 통계하는 페이지</li>
    </ul>
    <h2>기술 스택</h2>
    <ul>
        <li><strong>Language/Framework</strong>: Java 17/Spring Boot 3.2.4</li>
        <li><strong>Build</strong>: Gradle 8.5</li>
        <li><strong>Third Party</strong>: Google Search, Naver Search, ChatGPT</li>
    </ul>
</div>
{{>partials/footer}}