{{>partials/header}}
<h2>{{title}}</h2>
<div class="layout">
    <aside class="sidebar">
        <nav>
            <ul>
                {{#thirdPartyList}}
                    <li><a href="/labs/{{.}}">{{.}}</a></li>
                {{/thirdPartyList}}
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        {{#isSearch}}
            {{>sections/labs/search}}
        {{/isSearch}}
        {{^isSearch}}
            {{#isOpenai}}
                {{>sections/labs/openai}}
            {{/isOpenai}}
            {{#isWoorimail}}
                {{>sections/labs/woorimail}}
            {{/isWoorimail}}
            <script src="/js/labs/module.js"></script>
        {{/isSearch}}
    </main>
</div>
{{>partials/footer}}