{{>partials/header}}
<h2>{{title}}</h2>
<div class="layout">
    <aside class="sidebar">
        <nav>
            <ul>
                {{#thirdPartyList}}
                    <li><a href="/labs?api={{.}}">{{.}}</a></li>
                {{/thirdPartyList}}
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        {{#thirdPartyType}}
            {{#isSearch}}
                {{>sections/labs/search}}
            {{/isSearch}}
            {{^isSearch}}
                {{#module.openai}}
                    {{>sections/labs/openai}}
                {{/module.openai}}
                {{#module.woorimail}}
                    {{>sections/labs/woorimail}}
                {{/module.woorimail}}
                <script src="/js/labs/module.js"></script>
            {{/isSearch}}
        {{/thirdPartyType}}
    </main>
</div>
{{>partials/footer}}