{{>partials/header}}
<h2>{{title}}</h2>
<div class="trend_container">
    <div class="date-navigation">
        <span class="arrow" id="prevDate">&#9664;</span>
        <span id="currentDate"></span>
        <span class="arrow arrow-disabled" id="nextDate">&#9654;</span>
    </div>
    <ul class="news-feed" id="newsList"></ul>
</div>
<script src="/js/Trend.js"></script>
{{>partials/footer}}