<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Search Results</h1>
    <ul>
        {{#pages}}
            <li>
                <h3>{{title}}</h3>
                <p>{{content}}</p>
                <a href="{{link}}" target="_blank">Read more</a>
            </li>
        {{/pages}}
    </ul>
</body>
</html>