{{>nakji/header}}

{{>nakji/lnb}}

<main id="main">
    <section id="page"></section>

    <section id="search" class="search">
        <div id="searchResult"></div>
    </section>
</main>

{{>nakji/footer}}