<div class="section-title">
    <h2>Introduction</h2>
</div>
<div class="section-content resume">
    <div class="resume-title" data-aos="fade-left" data-aos-delay="0">
        <h2>✏ Skill</h2>
        <div class="skill-main">
            <img src="https://img.shields.io/badge/main-444444?style=for-the-badge" alt="badge">
            <img src="https://img.shields.io/badge/java/spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white" alt="badge">
            <img src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white" alt="badge">
            <img src="https://img.shields.io/badge/oracle-F80000?style=for-the-badge&logo=oracle&logoColor=white" alt="badge">
            <img src="https://img.shields.io/badge/tomcat-F8DC75?style=for-the-badge&logo=apachetomcat&logoColor=black" alt="badge">
        </div>
        <div class="skill-sub">
            <img src="https://img.shields.io/badge/sub-666666?style=for-the-badge" alt="badge">
            <img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="badge">
            <img src="https://img.shields.io/badge/postgresql-4169E1?style=for-the-badge&logo=postgresql&logoColor=white" alt="badge">
            <br>
        </div>
        <div class="skill-etc">
            <img src="https://img.shields.io/badge/etc-888888?style=for-the-badge" alt="badge">
            <img src="https://img.shields.io/badge/bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white" alt="badge">
            <img src="https://img.shields.io/badge/gradle-02303A?style=for-the-badge&logo=gradle&logoColor=white" alt="badge">
        </div>
    </div>
</div>